@import "../../../../assets/styles/breakpoints";

.country-card{
    width: 100%;
    height: 337px;
    border-radius: 6px;
    transition: transform 250ms;
    margin-bottom: 50px;

    &-image{
        width: 100%;
        height: 162px;
        background: rgba(80, 79, 79, 0.116);

        img{
            display: inline-block;
            width:100%;
            height: 100%;  
            border-radius: 6px 6px 0 0;
        }
    }

    &-content{
        padding: 0 23px;
        margin-top: 26px;
        font-size: 14px;

        &-name{
            margin-bottom: 17px;
            font-size: 17px;
        }

        p{
            margin-bottom: 0.3rem;
            span{
                font-weight: 600;
            }
        }
    }

    &:hover{
        transform: translateY(-10px);
    }

    @include respond(tab-port){
        margin-bottom: 0;
    }
}