@import "../../../../assets/styles/breakpoints";

.country-detail{
    padding-top: 42px;
    padding-bottom: 40px;

    .back-button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 137px;
        height: 40px;
        border-radius: 5px;

        i{
            margin-right: 12px;
        }
    }

    &-body{
        margin-top: 38px;
        flex-direction: column; 

        &.skeletons{  
            justify-content: space-between;  
        }

    }


    &-image{ 
        width: 100%; 
        height: 250px; 
        box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px; 

        img{ 
            width: 100%;  
            height: 100%; 
            display: inline-block; 
        }
    }

    &-content{ 
        width: 100%;
        margin-top: 3rem;  

        h2{
            margin-bottom: 20px;
            font-size: 26px;
        }

        .flex{ 
            align-items: flex-start;
            flex-direction: column;
        }

        .right, .left{
            width: 100%;
            .flex{
                flex-direction: row;
            }
            p{
                margin-bottom: 10px;
                font-weight: 300;
                
                span{
                    font-weight: 600;
                }
            }

            .p-div{
                justify-content: flex-start;
                font-weight: 600; 
                
                p{
                    margin-left: 5px;
                    display: inline-block;
                }
            }
            
        }

        .right{
            width: 256px;
            margin-top: 30px;
        }

        .bottom{
            margin-top: 24px;

            &.flex{
                justify-content: flex-start;
                flex-direction: column;
            }

            p{
                font-weight: 600;        
            } 

            .border-countries{
                margin-top: 1rem;
                display: grid;
                grid-template-columns: repeat(2, 50%);
                column-gap: 25px;
                row-gap: 12px;
                .border-country{
                    text-align: center;
                    font-size: 14px;
                    min-width: 107px;
                    width: 100%;
                    border-radius: 3px;
                    padding-top: 5px;
                    padding: 5px 10px;
                    transition: transform 250ms;

                    a{
                        display: inline-block;
                        width: 100%;
                    }

                    &:hover{
                        transform: translateY(-3px);
                    }

                }
            }

        } 
    } 

  
    @include respond(tab-port){
        padding-top: 76px; 

        &-body{
            margin-top: 78px;
        }    

        &-image{ 
            width: 596px; 
            height: 321px; 
        }

        &-content{ 
            width: 596px;  

            h2{
                margin-bottom: 34px;
                font-size: 35px;
            }

            .flex{
                flex-direction: row;
            }

            .right, .left{
                width: 249px;
            }    

            .right{
                margin-top: 0;
            }

            .bottom{
                margin-top: 80px;
                &.flex{
                    flex-direction: row;
                }

                .border-countries{
                    margin-left: 1rem;
                    margin-top: 0;
                    grid-template-columns: repeat(3, 33%);
                }    
            }    
        }    
    }

    @include respond(tab-land){
        padding-bottom: 0;

        &-body{
            flex-direction: row;
            align-items: flex-start;
            margin-top: 58px;
        }

        &-image{ 
            width: 50%; 
        }

        &-content{
            margin-top: 0;
            width: 40%;
            .flex{
                flex-direction: column;
            }

            .bottom{
                margin-top: 40px;
                &.flex{
                    flex-direction: column;
                }

                .border-countries{
                    margin-left: 0;
                    margin-top: 1rem;
                    grid-template-columns: repeat(2, 50%);
                }    
            }    
        }
    }

    @include respond(desktop){

        &-body{
            align-items: center;
            margin-top: 78px;
        }

        &-image{ 
            width: 560px; 
            height: 401px; 
        }

        &-content{
            width: 596px;  
            
            .flex{
                flex-direction: row;
                align-items: flex-start;
            }

            .right, .left{
                width: 249px;
            }   


            .bottom{
                margin-top: 80px;
                &.flex{
                    flex-direction: row;
                }

                .border-countries{
                    margin-left: 1rem;
                    margin-top: 0;
                    grid-template-columns: repeat(3, 33%);
                }    
            } 
        }
    }
} 