//colors

//dark mode colors
// Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
$dark-bg-color: hsl(207, 26%, 17%);
$dark-elements: hsl(209, 23%, 22%);

//light mode colors
$text-color: hsl(200, 15%, 8%);
$input: hsl(0, 0%, 52%);
$bg-color: hsl(0, 0%, 98%);

//light mode elements and dark mode text
$white:hsl(0, 0%, 100%);

// //both
// White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%)